In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
mh_df = pd.read_csv('Mental Health Dataset.csv')
mh_df

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,8/27/2014 11:29,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure
1,8/27/2014 11:31,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No
2,8/27/2014 11:32,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
3,8/27/2014 11:37,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes
4,8/27/2014 11:43,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,7/27/2015 23:25,Male,United States,Business,Yes,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,Maybe,Not sure
292360,8/17/2015 9:38,Male,South Africa,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes
292361,8/25/2015 19:59,Male,United States,Business,No,Yes,No,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,No
292362,9/26/2015 1:07,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes
292363,2/1/2016 23:04,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes

In [3]:
mh_df.describe()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
count,292364,292364,292364,292364,287162,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364
unique,580,2,35,5,2,2,2,5,3,3,3,3,2,3,3,3,3
top,8/27/2014 11:43,Male,United States,Housewife,No,No,Yes,1-14 days,Maybe,Yes,No,Medium,No,No,Maybe,No,No
freq,2384,239850,171308,66351,257994,176832,147606,63548,99985,109523,104018,101064,154328,105843,103393,232166,118886

In [4]:
mh_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292364 entries, 0 to 292363
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                292364 non-null  object
 1   Gender                   292364 non-null  object
 2   Country                  292364 non-null  object
 3   Occupation               292364 non-null  object
 4   self_employed            287162 non-null  object
 5   family_history           292364 non-null  object
 6   treatment                292364 non-null  object
 7   Days_Indoors             292364 non-null  object
 8   Growing_Stress           292364 non-null  object
 9   Changes_Habits           292364 non-null  object
 10  Mental_Health_History    292364 non-null  object
 11  Mood_Swings              292364 non-null  object
 12  Coping_Struggles         292364 non-null  object
 13  Work_Interest            292364 non-null  object
 14  Social_Weakness          292364 non-null  object
 15  mental_health_interview  292364 non-null  object
 16  care_options             292364 non-null  object
dtypes: object(17)
memory usage: 37.9+ MB

# EDA by Column:

## Timestamp Column:

In [5]:
# Split the 'Timestamp' column into date and time components
mh_df['Date'] = pd.to_datetime(mh_df['Timestamp']).dt.date
mh_df['Time'] = pd.to_datetime(mh_df['Timestamp']).dt.time

mh_df.drop(columns=['Timestamp'], inplace=True)

In [6]:
mh_df.head()

,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options,Date,Time
0,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure,2014-08-27,11:29:00
1,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No,2014-08-27,11:31:00
2,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes,2014-08-27,11:32:00
3,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes,2014-08-27,11:37:00
4,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes,2014-08-27,11:43:00

## Gender column:

In [7]:
mh_df['Gender'].value_counts()
# 239850 Male
# 52514 Female
# Almost 5:1 ratio of male to female respondants

Gender
Male      239850
Female     52514
Name: count, dtype: int64

In [8]:
mh_df['Gender'].info() # No Nulls in the 'Gender' column

<class 'pandas.core.series.Series'>
RangeIndex: 292364 entries, 0 to 292363
Series name: Gender
Non-Null Count   Dtype
--------------   -----
292364 non-null  object
dtypes: object(1)
memory usage: 2.2+ MB

## Country column:

In [9]:
print(mh_df['Country'].unique())

['United States' 'Poland' 'Australia' 'Canada' 'United Kingdom'
 'South Africa' 'Sweden' 'New Zealand' 'Netherlands' 'India' 'Belgium'
 'Ireland' 'France' 'Portugal' 'Brazil' 'Costa Rica' 'Russia' 'Germany'
 'Switzerland' 'Finland' 'Israel' 'Italy' 'Bosnia and Herzegovina'
 'Singapore' 'Nigeria' 'Croatia' 'Thailand' 'Denmark' 'Mexico' 'Greece'
 'Moldova' 'Colombia' 'Georgia' 'Czech Republic' 'Philippines']

In [10]:
len(mh_df['Country'].unique()) # 35 countries in the survey

35

In [13]:
mh_df['Country'].value_counts()

Country
United States             171308
United Kingdom             51404
Canada                     18726
Australia                   6026
Netherlands                 5894
Ireland                     5548
Germany                     4680
Sweden                      2818
India                       2774
France                      2340
Brazil                      2340
New Zealand                 1994
South Africa                1994
Switzerland                 1560
Israel                      1560
Italy                       1560
Belgium                      824
Poland                       824
Russia                       780
Denmark                      780
Singapore                    780
Greece                       780
Czech Republic               390
Georgia                      390
Colombia                     390
Moldova                      390
Mexico                       390
Croatia                      390
Thailand                     390
Nigeria                      390
Bosnia and Herzegovina       390
Portugal                     390
Finland                      390
Costa Rica                   390
Philippines                  390
Name: count, dtype: int64

## Occupation column:

In [15]:
mh_df['Occupation'].describe()

count        292364
unique            5
top       Housewife
freq          66351
Name: Occupation, dtype: object

In [16]:
mh_df['Occupation'].value_counts()
# The highest freq response is 'Housewife' with 66351 entries but 
# it's states that only 52K responses are from women. Something doesn't add up.

Occupation
Housewife    66351
Student      61794
Corporate    61229
Others       52841
Business     50149
Name: count, dtype: int64

In [ ]:
housewife_responses_df = mh_df.loc[mh_df['Occupation'] == 'Housewife']
housewife_responses_df

#### Come back to this 'Housewife' situation later because its not making sense based on the gender column

## SELF_EMPLOYED Column:

In [22]:
mh_df['self_employed'].value_counts()

self_employed
No     257994
Yes     29168
Name: count, dtype: int64

In [23]:
mh_df['self_employed'].isna().sum()

5202

In [25]:
self_employed_missing_data = mh_df.loc[mh_df['self_employed'].isna()]

self_employed_missing_data['Occupation'].value_counts()

Occupation
Housewife    1178
Student      1107
Corporate    1072
Others        948
Business      897
Name: count, dtype: int64

In [26]:
mh_df['self_employed'] = mh_df['self_employed'].fillna('No')

## Family_History Column: